# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# SvelteKit
/.svelte-kit
/build
.vercel
.netlify

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Temporary testing dependencies
node_modules/puppeteer/
screenshot-preview.png

# Old Next.js artifacts (to be removed)
/.next/
/out/
next-env.d.ts
